@{
    ViewData["Title"] = "ClientOrders Page";
}

<h2>ClientOrders</h2>
<table id="MyClientOrdersTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProductBrand</th>
            <th>ProductModel</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<br />
<input type="button" class="btn btn-primary" id="show" value="Show" />
<br />

<script>
    $('#show').click(function (e) {
        //alert('show');

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/ClientOrder',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            // beforeSend: function (xheader) {
            //     var token = sessionStorage.getItem(tokenKey);
            //     console.log(token);
            //     xheader.setRequestHeader("Authorization", "Bearer " + token);
            // },
            success: function (data) {
                console.log(data);

                // получить ссылку на таблицу с результатами
                var table = $('#MyClientOrdersTable');

                // удалить все старые строки
                table.find("tbody tr").remove();

                // перебрать коллекцию в Json и создать новые строки таблицы на их основе
                data.forEach(function (ClientOrders) {
                    table.append("<tr><td>" + ClientOrders.id +
                        "</td><td>" + ClientOrders.productBrand +
                        "</td><td>" + ClientOrders.firstName +
                        "</td><td>" + ClientOrders.lastName +
                        "</td><td>" + ClientOrders.startDate +
                        "</td><td>" + ClientOrders.endDate +
                        "</td><td>" + ClientOrders.price +
                        "</td><td><button class='btn-link js-edit' data-Id=" + ClientOrders.id + ">Edit</button>&nbsp;<button class='btn-link js-delete' data-Id=" + ClientOrders.id + ">Delete</button></td></tr>");
                });
            }
        })
    });

    



</script>
