@{
    ViewData["Title"] = "Orders Page";
}

<h2>Orders</h2>

<table id="MyOrdersTable" class="dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>IdProduct</th>
            <th>IdClient</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<br />
<input type="button" class="btn btn-outline-secondary" id="show" value="Show" />
<button class="btn btn-outline-success" onclick="@("window.location.href='" + @Url.Action("CreateOrder", "Home") + "'");">Create new order</button>

<script>
    $('#show').click(function (e) {
        //alert('show');

        // подача Ajax-запроса на сервер при помощи JQuery
        $.ajax({
            url: '/api/Order',
            method: "GET",
            dataType: 'JSON',
            contentType: 'application/json',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);

                // получить ссылку на таблицу с результатами
                var table = $('#MyOrdersTable');

                // удалить все старые строки
                table.find("tbody tr").remove();

                // перебрать коллекцию в Json и создать новые строки таблицы на их основе
                data.forEach(function (Order) {
                    table.append("<tr><td>" + Order.id +
                        "</td><td>" + Order.idProduct +
                        "</td><td>" + Order.idClient +
                        "</td><td>" + Order.startDate +
                        "</td><td>" + Order.endDate +
                        "</td><td>" + Order.price +
                        "</td><td><button class='btn btn-outline-warning js-edit' data-Id=" + Order.id + ">Edit</button>&nbsp;<button class='btn btn-outline-danger js-delete' data-Id=" + Order.id + ">Delete</button></td></tr>");
                });
            }
        })
    });

    $("#create").on("click", ".js-create", function () {
        var button = $(this);
        // alert(button.attr("data-Id"));
        window.location.href = '/Home/CreateOrder/'; //+ button.attr("data-Id");
    });

    $("#MyOrdersTable").on("click", ".js-edit", function () {
        var button = $(this);
        //alert(button.attr("data-Id"));
        window.location.href = '/Home/EditOrder/' + button.attr("data-Id");
    });

    $("#MyOrdersTable").on("click", ".js-delete", function () {
        var button = $(this);

        //if (confirm("Are you sure you want to delete this author?"))
        {
            $.ajax({
                url: "/api/Order/" + button.attr("data-Id"),
                method: "DELETE",
                // beforeSend: function (xheader) {
                //     var token = sessionStorage.getItem(tokenKey);
                //     console.log(token);
                //     xheader.setRequestHeader("Authorization", "Bearer " + token);
                // },
                success: function () {

                    // получить по кнопке удаляемой строки саму удаляемую строку
                    var row = button[0].parentNode.parentNode;

                    // удалить строку из таблицы
                    row.parentNode.removeChild(row);
                }
            }).fail(function () {
                alert('fail');
            })
        }
    });



</script>
